*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}
header{
    width: 1400px;
    height: 608px;
    background-image: url(../Styles/banner/banner1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
.header-title{
    width: 525px;
    height: 228px;
    margin-left: 700px;
    margin-top: 216px;
    text-align: right;
    font-size: 65px;
    color:  #151414;
}
.headr-description{
    width: 425px;
    height: 228px;
    margin-left: 800px;
    margin-top: 10px;
    color: #444343;
    text-align: right;
}
/* contact-btn */
.contact-btn{
    width: 100px;
    height: 110px;
    margin-left: 1100px;
    margin-bottom: 250px;
    background-color:  #F15B22;
    border: none;
    border-radius: 5px;
    
}
 .contact-btn, a{
    text-decoration: none;
    color: #ffff;
}
/* person-img and artical part */
.person-img, img{
    width: 300px;
    height: 450px;
    margin-top: 30px;
    margin-left: 100px; 
 }
.artical-part{
    display: flex;
}
.artical{
    text-align: right;
    width: 300px;
    height: 400px;
    margin-left: 300px;
    margin-top: 200px;
}

.artical-desription{
    width: 300px;
    height: 104px;
    color: #444343;
    font-weight: 200;
    font-size: 16px;
    margin-top: 24px;
}
/* list style */
ul{ 
    color: #444343;
    list-style: none;
    line-height: 20px;
}
/* plan section */
.plan{
    width: 900px;
    height: 200px;
    margin-left: 300px;
}
/* Plans */
.my-plan-section{
    margin-left: 300px;
    width: 700px;
    height: 270px
}
.section-title{
    text-align: center;
    font-weight: 900;
    margin-top: 24px;
}
.skill{
    background: #FFFFFF;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-title{
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
}
.skill-description{
    color: #757575;
    margin-top: 10px;
}
.skills-container{
    display: flex;
    gap: px;
} 
/* bland section */
.blend{
    margin-left: 300px;
    width: 750px;
    height: 200px;
    background-image: url(/Styles/images/watch.png),url(/Styles/images/gradient2.png);
    background-blend-mode: screen;
}
.blend .blend-title{
    margin-left: 20px;
    margin-top: 10px;
    width: 400px;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    
}
.call-btn{
    width: 110px;
    height: 50px;
    color: #fa4a04;
    background-color: bisque;
    border-style: none;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 30px;
}
/* contact Styles */
.contact .section-title{
    text-align: left;
}
footer{
    width: 100%;
    height: 500px;
    background: #151414;
}
.contact{
   display: flex;
   gap: 100px;
   padding: 130px 200px;
   margin-top: 50px;
}
.contact input[type="text"], input[type="email"] ,textarea{
   margin-bottom: 24px;
   border: 1;
   width: 100%;
   padding: 18px 30px;
   

}
.subscribe-btn{
   width: 100px;
   height: 50px;
   border: 0;
   border-radius: 4px;
   background-color:#FFFFFF ;
   color: #FD6E0A;
}
.contact-details{
    color: aliceblue;
}
.subscribe{
    color:#FFFFFF;
    margin-bottom: 10px;
}
.form-item{
    width: 300px;
}


